In [1]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='entropy')
clf

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [5]:
import pandas as pd
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [7]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
train.describe(include=['O'])

                 Name   Sex    Ticket        Cabin Embarked
count             891   891       891          204      889
unique            891     2       681          147        3
top     Bing, Mr. Lee  male  CA. 2343  C23 C25 C27        S
freq                1   577         7            4      644

In [12]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [17]:
train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [46]:
# 使用平均年龄来填充年龄中的nan值
train['Age'].fillna(train['Age'].mean(), inplace=True)
test['Age'].fillna(test['Age'].mean(),inplace=True)
# 使用票价的均值填充票价中的nan值
train['Fare'].fillna(train['Fare'].mean(), inplace=True)
test['Fare'].fillna(test['Fare'].mean(),inplace=True)
# 使用登录最多的港口来填充登录港口的nan值
train['Embarked'].fillna('S', inplace=True)
test['Embarked'].fillna('S',inplace=True)

In [43]:
s = pd.Series([1, 5, 1, 3, 4])
print(s.replace([1, 3], method='bfill',inplace=True))
s

None

0    5
1    5
2    4
3    4
4    4
dtype: int64

In [48]:
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
train_features = train[features]
test_features = test[features]
train_labels = train.Survived
train_features.replace({'Sex':{'male':0,'female':1},'Embarked':{'S':0,'C':1,'Q':2}})

     Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0         3    0  22.000000      1      0    7.2500         0
1         1    1  38.000000      1      0   71.2833         1
2         3    1  26.000000      0      0    7.9250         0
3         1    1  35.000000      1      0   53.1000         0
4         3    0  35.000000      0      0    8.0500         0
5         3    0  29.699118      0      0    8.4583         2
6         1    0  54.000000      0      0   51.8625         0
7         3    0   2.000000      3      1   21.0750         0
8         3    1  27.000000      0      2   11.1333         0
9         2    1  14.000000      1      0   30.0708         1
10        3    1   4.000000      1      1   16.7000         0
11        1    1  58.000000      0      0   26.5500         0
12        3    0  20.000000      0      0    8.0500         0
13        3    0  39.000000      1      5   31.2750         0
14        3    1  14.000000      0      0    7.8542         0
15        2    1  55.000000      0      0   16.0000         0
16        3    0   2.000000      4      1   29.1250         2
17        2    0  29.699118      0      0   13.0000         0
18        3    1  31.000000      1      0   18.0000         0
19        3    1  29.699118      0      0    7.2250         1
20        2    0  35.000000      0      0   26.0000         0
21        2    0  34.000000      0      0   13.0000         0
22        3    1  15.000000      0      0    8.0292         2
23        1    0  28.000000      0      0   35.5000         0
24        3    1   8.000000      3      1   21.0750         0
25        3    1  38.000000      1      5   31.3875         0
26        3    0  29.699118      0      0    7.2250         1
27        1    0  19.000000      3      2  263.0000         0
28        3    1  29.699118      0      0    7.8792         2
29        3    0  29.699118      0      0    7.8958         0
..      ...  ...        ...    ...    ...       ...       ...
861       2    0  21.000000      1      0   11.5000         0
862       1    1  48.000000      0      0   25.9292         0
863       3    1  29.699118      8      2   69.5500         0
864       2    0  24.000000      0      0   13.0000         0
865       2    1  42.000000      0      0   13.0000         0
866       2    1  27.000000      1      0   13.8583         1
867       1    0  31.000000      0      0   50.4958         0
868       3    0  29.699118      0      0    9.5000         0
869       3    0   4.000000      1      1   11.1333         0
870       3    0  26.000000      0      0    7.8958         0
871       1    1  47.000000      1      1   52.5542         0
872       1    0  33.000000      0      0    5.0000         0
873       3    0  47.000000      0      0    9.0000         0
874       2    1  28.000000      1      0   24.0000         1
875       3    1  15.000000      0      0    7.2250         1
876       3    0  20.000000      0      0    9.8458         0
877       3    0  19.000000      0      0    7.8958         0
878       3    0  29.699118      0      0    7.8958         0
879       1    1  56.000000      0      1   83.1583         1
880       2    1  25.000000      0      1   26.0000         0
881       3    0  33.000000      0      0    7.8958         0
882       3    1  22.000000      0      0   10.5167         0
883       2    0  28.000000      0      0   10.5000         0
884       3    0  25.000000      0      0    7.0500         0
885       3    1  39.000000      0      5   29.1250         2
886       2    0  27.000000      0      0   13.0000         0
887       1    1  19.000000      0      0   30.0000         0
888       3    1  29.699118      1      2   23.4500         0
889       1    0  26.000000      0      0   30.0000         1
890       3    0  32.000000      0      0    7.7500         2

[891 rows x 7 columns]

In [50]:
from sklearn.feature_extraction import DictVectorizer
dvec = DictVectorizer(sparse=False)
train_features = dvec.fit_transform(train_features.to_dict(orient='record'))

In [55]:
print(train_features)
dvec.feature_names_

[[22.          0.          0.         ...  0.          1.
   1.        ]
 [38.          1.          0.         ...  1.          0.
   1.        ]
 [26.          0.          0.         ...  1.          0.
   0.        ]
 ...
 [29.69911765  0.          0.         ...  1.          0.
   1.        ]
 [26.          1.          0.         ...  0.          1.
   0.        ]
 [32.          0.          1.         ...  0.          1.
   0.        ]]

['Age',
 'Embarked=C',
 'Embarked=Q',
 'Embarked=S',
 'Fare',
 'Parch',
 'Pclass',
 'Sex=female',
 'Sex=male',
 'SibSp']

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
# 构造ID3决策树
clf = DecisionTreeClassifier(criterion='entropy')
# 决策树训练
clf.fit(train_features, train_labels)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [60]:
test_features=dvec.transform(test_features.to_dict(orient='record'))
# 决策树预测
pred_labels = clf.predict(test_features)

AttributeError: 'numpy.ndarray' object has no attribute 'to_dict'

In [59]:
# 得到决策树准确率
acc_decision_tree = round(clf.score(train_features, train_labels), 6)
print(u'score准确率为 %.4lf' % acc_decision_tree)

score准确率为 0.9820

In [62]:
pred_labels

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [63]:
import numpy as np
from sklearn.model_selection import cross_val_score
# 使用K折交叉验证 统计决策树准确率
print(u'cross_val_score准确率为 %.4lf' % np.mean(cross_val_score(clf, train_features, train_labels, cv=10)))

cross_val_score准确率为 0.7857

In [66]:
import graphviz

In [65]:
!pip install graphviz

Looking in indexes: http://mirrors.aliyun.com/pypi/simple/
Collecting graphviz
  Downloading http://mirrors.aliyun.com/pypi/packages/1f/e2/ef2581b5b86625657afd32030f90cf2717456c1d2b711ba074bf007c0f1a/graphviz-0.10.1-py2.py3-none-any.whl
Installing collected packages: graphviz
Successfully installed graphviz-0.10.1
You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [ ]:
import os
os.environ["PATH"] += os.pathsep + 'D:/Program Files/Anaconda3/Library/bin/graphviz'

In [67]:
from sklearn import tree
dot_data = tree.export_graphviz(clf,out_file=None)
graph = graphviz.Source(dot_data)
graph.view()

ExecutableNotFound: failed to execute ['dot', '-Tpdf', '-O', 'Source.gv'], make sure the Graphviz executables are on your systems' PATH