### 导包

In [1]:
import pandas as pd  # 导入数据分析工具包
import numpy as np  # 导入科学计算工具包
import matplotlib.pyplot as plt  # 导入图表绘制工具包
import seaborn as sns  # 导入可视化工具包

### 读取数据

In [2]:
df = pd.read_csv("地市级党委书记数据库（2000-10）.csv", encoding="gbk")

### 取前5行

In [3]:
df.head()

,省级政区代码,省级政区名称,地市级政区代码,地市级政区名称,年份,党委书记姓名,出生年份,出生月份,籍贯省份代码,籍贯省份名称,...,民族,教育,是否是党校教育（是=1，否=0）,专业：人文,专业：社科,专业：理工,专业：农科,专业：医科,入党年份,工作年份
0,130000,河北省,130100,石家庄市,2000,陈来立,NaN,NaN,NaN,NaN,...,NaN,硕士,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,130000,河北省,130100,石家庄市,2001,吴振华,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
2,130000,河北省,130100,石家庄市,2002,吴振华,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
3,130000,河北省,130100,石家庄市,2003,吴振华,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
4,130000,河北省,130100,石家庄市,2004,吴振华,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN

### 取指定行

In [4]:
df[10:20]

,省级政区代码,省级政区名称,地市级政区代码,地市级政区名称,年份,党委书记姓名,出生年份,出生月份,籍贯省份代码,籍贯省份名称,...,民族,教育,是否是党校教育（是=1，否=0）,专业：人文,专业：社科,专业：理工,专业：农科,专业：医科,入党年份,工作年份
10,130000,河北省,130100,石家庄市,2010,孙瑞彬,NaN,NaN,NaN,NaN,...,NaN,硕士,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN
11,130000,河北省,130200,唐山市,2000,白润璋,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
12,130000,河北省,130200,唐山市,2001,白润璋,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
13,130000,河北省,130200,唐山市,2002,白润璋,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
14,130000,河北省,130200,唐山市,2003,张和,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
15,130000,河北省,130200,唐山市,2004,张和,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
16,130000,河北省,130200,唐山市,2005,张和,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
17,130000,河北省,130200,唐山市,2006,张和,NaN,NaN,NaN,NaN,...,NaN,本科,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN
18,130000,河北省,130200,唐山市,2007,赵勇,NaN,NaN,NaN,NaN,...,NaN,博士,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN
19,130000,河北省,130200,唐山市,2008,赵勇,NaN,NaN,NaN,NaN,...,NaN,博士,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN

### 获取所有列名

In [5]:
df.columns.tolist()

['省级政区代码',
 '省级政区名称',
 '地市级政区代码',
 '地市级政区名称',
 '年份',
 '党委书记姓名',
 '出生年份',
 '出生月份',
 '籍贯省份代码',
 '籍贯省份名称',
 '籍贯地市代码',
 '籍贯地市名称',
 '性别',
 '民族',
 '教育',
 '是否是党校教育（是=1，否=0）',
 '专业：人文',
 '专业：社科',
 '专业：理工',
 '专业：农科',
 '专业：医科',
 '入党年份',
 '工作年份']

### 取指定列前10行值

In [6]:
df["党委书记姓名"].head(10)

0    陈来立
1    吴振华
2    吴振华
3    吴振华
4    吴振华
5    吴振华
6    吴振华
7    吴显国
8    吴显国
9     车俊
Name: 党委书记姓名, dtype: object

###  返回基本数据信息
- `include=[np.number]`: 只统计数值类型，包括：计数，平均数，方差，最小值，四分位数(25%,50%,75%)，最大值
- `include=[np.object]`: 只统计字符串类型，包括：计数，唯一值数量，出现频率最高的内容，最高出现频率

In [7]:
df.describe(include=[np.number])

,省级政区代码,地市级政区代码,年份,出生年份,出生月份,籍贯省份代码,籍贯地市代码,是否是党校教育（是=1，否=0）,专业：人文,专业：社科,专业：理工,专业：农科,专业：医科,入党年份,工作年份
count,3663.000000,3663.000000,3663.000000,2676.000000,2645.000000,2624.000000,2615.000000,2493.000000,2370.000000,2376.000000,2371.000000,2369.000000,2370.000000,2384.000000,2568.000000
mean,403393.393393,404456.756757,2005.000000,1953.622571,6.790548,364428.353659,365742.332696,0.430405,0.275527,0.627525,0.256854,0.067539,0.009705,1976.906879,1973.129673
std,148176.721620,148485.810327,3.162709,4.416316,3.614664,126267.485520,125961.993399,0.576136,0.446874,0.483566,0.436990,0.251006,0.098054,5.310080,4.856564
min,130000.000000,130100.000000,2000.000000,1941.000000,1.000000,110000.000000,120000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1961.000000,1958.000000
25%,330000.000000,330100.000000,2002.000000,1951.000000,3.000000,320000.000000,320700.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1973.000000,1970.000000
50%,420000.000000,420200.000000,2005.000000,1954.000000,7.000000,370000.000000,370700.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1976.000000,1972.500000
75%,510000.000000,513400.000000,2008.000000,1956.000000,10.000000,430000.000000,431300.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1981.000000,1976.000000
max,650000.000000,654300.000000,2010.000000,1966.000000,14.000000,640000.000000,640500.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1994.000000,1990.000000

In [8]:
df.describe(include=[np.object])

       省级政区名称 地市级政区名称 党委书记姓名 籍贯省份名称 籍贯地市名称    性别    民族    教育
count    3663    3663   3021   2624   2615  2708  2517  2550
unique     27     333    901     29    240     2     2     7
top       四川省     张掖市    焉荣竹    山东省    威海市     男    汉族    硕士
freq      231      11     11    313     58  2633  2351  1381

### 按性别分析占比

In [9]:
gender = df['性别']
gd = gender[gender.notnull()]  # .notnull()表示取得所有非空内容
count = gd.count()
rate_m = "{:.2f}".format(gd[gd == "男"].count() * 100 / count)
rate_w = "{:.2f}".format(gd[gd == "女"].count() * 100 / count)
print(gd.head(), "\n\n", gd.unique(), "\n\n",
      rate_m, rate_w)  # .unique()表示显示数据的唯一值内容

121    男
122    男
123    男
124    男
125    男
Name: 性别, dtype: object

 ['男' '女']

 97.23 2.77

### 按省份、性别分析占比

In [10]:
prov_gender = df[["省级政区名称", "性别"]].dropna()
# .crosstab(行，列)用于针对字符串数据的透视（类似excel的数据透视）
pg = pd.crosstab(prov_gender["省级政区名称"], prov_gender["性别"])
pg.head()

性别       女    男
省级政区名称
云南省      2   73
内蒙古自治区   0   86
吉林省      4   72
四川省      8  155
宁夏回族自治区  0   49

In [11]:
pg["女性占比"] = pg["女"] / (pg["男"] + pg["女"])
# .sort_values()排序，ascending = False表示降序
pg = pg.sort_values(by=["女性占比"], ascending=False)
pg.head()

性别       女    男      女性占比
省级政区名称
辽宁省     13  121  0.097015
陕西省      9   93  0.088235
吉林省      4   72  0.052632
山西省      6  112  0.050847
四川省      8  155  0.049080

## 图表

### 不同省份女性市委书记占比

In [12]:
fig_1 = plt.figure(figsize=(8, 4))
fig_1.show()

/root/anaconda3/lib/python3.7/site-packages/matplotlib/figure.py:457: UserWarning: matplotlib is currently using a non-GUI backend, so cannot show the figure
  "matplotlib is currently using a non-GUI backend, "