In [2]:
import findspark
findspark.init()

In [3]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import HiveContext, Row
conf = SparkConf().setAppName("chihweihsu").setMaster("local[*]")
sc = SparkContext(conf=conf)
sqlContext = HiveContext(sc)

In [ ]:
rdd = sc.textFile("wordcount.txt", minPartitions=4)

In [ ]:
result = rdd.flatMap(lambda x: x.split()).map(lambda x : (x, 1)).reduceByKey(lambda x,y: x+y)

In [ ]:
sorted_result = result.sortBy(lambda x:x[1],ascending=False)

In [ ]:
result.map(lambda x:(x[1],x[0])).sortByKey(ascending=False).map(lambda x:(x[1],x[0])).top(10, lambda x: x[1])

In [ ]:
# 生成几个文件对应几个task任务，就是用几个线程在跑，就是有几个partitions（sc生成rdd时确定），并行度
# 重名报错，写不进去
sorted_result.saveAsTextFile("sort_count")

In [ ]:
sorted_result.top(10, lambda x: x[1])

In [ ]:
# 默认倒序（descending）
result.top(10, lambda x: x[1])

In [ ]:
# 默认正序（ascending）
result.takeOrdered(10, key=lambda x: -x[1])

In [7]:
import pandas as pd
import numpy as np

In [56]:
df = pd.DataFrame({"A":['a1','a2','a3'], "B":[2,0,5]}, columns=list('AB'))
df

    A  B
0  a1  2
1  a2  0
2  a3  5

In [57]:
s = {'a1':('b1', 'c1'),'a2':('b2', 'c2'),'a3':('b3', 'c3')}
def cal(x):
    return s.get(x)[0], s.get(x)[1]
df['country'],df['code'] = zip(*df['A'].map(cal))
df
# df['country'],df['code'] = df.A.apply(lambda x: [x + 1, x+2])
# df

    A  B country code
0  a1  2      b1   c1
1  a2  0      b2   c2
2  a3  5      b3   c3

In [55]:
my_list = [(2006, "White Pony", 3490349),(2006, "White Pony", 9492423),(2009, "White Pony", 4342342),
           (2006, "Red Pony", 3490349),(2006, "White Swan", 9492423),(2009, "White Swan", 4342342)]
seen = set() #< keep track of what we have seen as we go
unique_list = [x for x in my_list if not (x[1] in seen or seen.add(x[1]))]
unique_list

[(2006, 'White Pony', 3490349),
 (2006, 'Red Pony', 3490349),
 (2006, 'White Swan', 9492423)]

[('18679196770', (0, 1, 45.3, 4, '3:12')), ('18679196771', (3, 2, 45.3, 14, '5:18')), ('18679196772', (5, 0, 45.3, 34, '3:22')), ('18679196773', (6, 4, 45.3, 44, '7:12')), ('18679196774', (8, 8, 45.3, 54, '0:11')), ('18679196775', (9, 9, 45.3, 64, '1:13')), ('18679196776', (2, 2, 45.3, 74, '2:19')), ('18679196777', (1, 5, 45.3, 84, '6:27')), ('18679196778', (5, 3, 45.3, 94, '2:18'))]
[('18679196776', (2, 2, 45.3, 74, '2:19')), ('18679196777', (1, 5, 45.3, 84, '6:27')), ('18679196770', (0, 1, 45.3, 4, '3:12')), ('18679196778', (5, 3, 45.3, 94, '2:18')), ('18679196771', (3, 2, 45.3, 14, '5:18')), ('18679196772', (5, 0, 45.3, 34, '3:22')), ('18679196773', (6, 4, 45.3, 44, '7:12')), ('18679196774', (8, 8, 45.3, 54, '0:11')), ('18679196775', (9, 9, 45.3, 64, '1:13'))]
['18679196776', '18679196777', '18679196770', '18679196778', '18679196771', '18679196772', '18679196773', '18679196774', '18679196775']
[[('18679196776', (2, 2, 45.3, 74, '2:19'))], [('18679196777', (1, 5, 45.3, 84, '6:27'))], [('18679196770', (0, 1, 45.3, 4, '3:12')), ('18679196778', (5, 3, 45.3, 94, '2:18'))], [('18679196771', (3, 2, 45.3, 14, '5:18'))], [('18679196772', (5, 0, 45.3, 34, '3:22'))], [('18679196773', (6, 4, 45.3, 44, '7:12'))], [('18679196774', (8, 8, 45.3, 54, '0:11'))], [('18679196775', (9, 9, 45.3, 64, '1:13'))]]

In [35]:
18679196778%8

2L