# Pandas 核心功能文档

## 1. 写在前面

感谢Zhenmao学长的分享，以下ipython文档在学长分享的基础上做了以下操作：

1. 所有文档内容的整合
2. 添加了额外的中文说明
3. 对于相对复杂的方法、函数，添加官方原档地址，便于随时查阅及拓展学习

本册已经全部调整为用Python2编译，可以作为学习过程中具体方法、函数查阅的功能册子。因受能力限制，本册可能存在很多不足之处，欢迎同学们对文中的任何内容提出指导和批评意见，本人会负责对此文档的更新和维护。

作者 Bruno Yang

## 2. Working with Series

In [1]:
import pandas as pd
import numpy as np

# 显示导入的图片
from IPython.display import Image

### 2.1 Series Initialization and Modification

#### 2.1.1 Series Initialization

In [2]:
s = pd.Series([1, 2, 3])
print(s)

0    1
1    2
2    3
dtype: int64

In [3]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)

a    1
b    2
c    3
dtype: int64

In [4]:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
print(s)

a    1
b    2
c    3
dtype: int64

### 2.2 Series Adding/Deleting an Element

In [5]:
# Adding an element
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
s['d'] = 4
print(s)

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

可以其使用drop方法删除不需要的数据，inplace来决定是否在远处修改原来的数据

In [6]:
# Deleting an element
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
s.drop(['c'], inplace=True)
print(s)

a    1
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64

### 2.3 Series Index and Values

#### 2.3.1 Index

Pandas的索引是以从0开始计数的数字和自定义的索引名开展的，选用其中任何一项都适用。可以使用index取出index的描述，index.values取出index的具体值。

In [7]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
print(s.index)
print(s.index.values)

a    1
b    2
c    3
dtype: int64
Index([u'a', u'b', u'c'], dtype='object')
['a' 'b' 'c']

#### 2.3.2 Reindexing

reindex方法重排序索引和指定索引，pandas调用reindex方法后会根据新索引进行重排，并按指定的索引返回对应的内容。

官方文档说明连接：http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reindex.html

In [8]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)

# 这里的fill_value=0，如果存在空值则以fill_value里面的内容进行填充
# 如果不写则以more的NaN进行填充
#s_reindexed = s.reindex(['d', 'c', 'b', 'a'], fill_value=0)
s_reindexed = s.reindex(['d', 'c', 'b', 'a'])
print(s_reindexed)
print(s_reindexed.index)

a    1
b    2
c    3
dtype: int64
d    NaN
c    3.0
b    2.0
a    1.0
dtype: float64
Index([u'd', u'c', u'b', u'a'], dtype='object')

#### 2.3.3 Values

In [9]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
print(s.values)

a    1
b    2
c    3
dtype: int64
[1 2 3]

#### 2.3.4 Unique Values

In [10]:
s = pd.Series(['a', 'a', 'a', 'b', 'b', 'c'])
print(s)
print(s.unique())

0    a
1    a
2    a
3    b
4    b
5    c
dtype: object
['a' 'b' 'c']

### 2.4 Series Selecting

#### 2.4.1 Label

In [11]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
print(s['a'])

a    1
b    2
c    3
dtype: int64
1

In [12]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)

# 通常Python中的切片是采取左闭右开的原则，即右边取不到。
# 在Series以索引名取值时候，终点值也会被取到。
print(s['a':'b']) # Slicing with label, the endpoint is included

a    1
b    2
c    3
dtype: int64
a    1
b    2
dtype: int64

#### 2.4.2 Position

In [13]:
# 按位置进行取值，不清楚的同学，参考Python列表切片取值。
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
print(s[0])

a    1
b    2
c    3
dtype: int64
1

In [14]:
# 按位置进行取值的时候，遵守Python列表左闭右开原则，即右边值取不到。
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
print(s[:1]) # Slicing with position, the endpoint is excluded

a    1
b    2
c    3
dtype: int64
a    1
dtype: int64

### 2.5 Series Sorting and Ranking

#### 2.5.1 Sorting by Index

按照索引标签值对一维数组进行排序

In [15]:
# 按照坐标位置对值进行排序
s = pd.Series([1, 2, 3], index=['c', 'b', 'a'])
print(s)
s_sorted = s.sort_index()
print(s_sorted)

c    1
b    2
a    3
dtype: int64
a    3
b    2
c    1
dtype: int64

#### 2.5.2 Sorting by Values

按照索引值值对一维数组进行排序，排序结果按照从小到大排列

官方文档链接：http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html

In [16]:
s = pd.Series([3, 3, 2, 1], index=['a', 'a', 'b', 'c'])
print(s)
s_sorted = s.sort_values()
print(s_sorted)

# 如果需要换成降序排列，可以指定ascending值，这里的默认值为True。
s_sorted = s.sort_values(ascending=False)
print(s_sorted)

a    3
a    3
b    2
c    1
dtype: int64
c    1
b    2
a    3
a    3
dtype: int64
a    3
a    3
b    2
c    1
dtype: int64

#### 2.5.3 Ranking

rank函数返回从小到大排序的下标，对于平级的数，rank是通过“为各组分配一个平均排名”的方式破坏平级关系。

官方文档连接：http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rank.html

按照索引标签值对一维数组进行排序, 排序方法（method）：
method : {‘average’, ‘min’, ‘max’, ‘first’, ‘dense’}
1. average: average rank of group
2. min: lowest rank in group
3. max: highest rank in group
4. first: ranks assigned in order they appear in the array
5. dense: like ‘min’, but rank always increases by 1 between groups

In [17]:
# 默认排序方法是average
s = pd.Series([1, 1, 2, 3, 3])
print(s.rank(method='first'))

# 如果需要换成降序排列，可以指定ascending值，这里的默认值为True。
print(s.rank(method='average'))
print(s.rank(ascending=False))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
0    1.5
1    1.5
2    3.0
3    4.5
4    4.5
dtype: float64
0    4.5
1    4.5
2    3.0
3    1.5
4    1.5
dtype: float64

思考，排名的时候索引标签是否也会跟着一起动？尝试如下：

In [18]:
# 默认排序方法是average
s = pd.Series([1, 1, 2, 3, 3], index=["a", "b", "c", "d", "f"])
print(s.rank(method='first'))

# 如果需要换成降序排列，可以指定ascending值，这里的默认值为True。
print(s.rank(method='average'))
print(s.rank(ascending=False))

a    1.0
b    2.0
c    3.0
d    4.0
f    5.0
dtype: float64
a    1.5
b    1.5
c    3.0
d    4.5
f    4.5
dtype: float64
a    4.5
b    4.5
c    3.0
d    1.5
f    1.5
dtype: float64

结论：排名和排序不同，排名是以某种特定的计算方式计算某一标签值在具体数组中的位置，并不需要调整整个数列的位置。

### 2.6 Series Computatons

与多维数组一起描述

#### 2.6.1 Counts of Unique Values

通过unique方法可以直接获取到不重复数组的元素及其出现次数，可以看做是unique方法的升级版

In [19]:
s = pd.Series(['a', 'a', 'a', 'c', 'c', 'c', 'b', 'b', 'c'])
print(s)
print(s.value_counts())

0    a
1    a
2    a
3    c
4    c
5    c
6    b
7    b
8    c
dtype: object
c    4
a    3
b    2
dtype: int64

#### 2.6.2 Membership

In [20]:
s = pd.Series(['a', 'a', 'a', 'b', 'b', 'c'])
print(s)
print(s.isin(['b', 'c']))

0    a
1    a
2    a
3    b
4    b
5    c
dtype: object
0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

#### 2.6.3 Series Applying Function (Element-wise)

Series的map方法可以接受一个函数或含有映射关系的字典型对象。 
使用map是一种实现元素级转换以及其他数据清理工作的便捷方式。 
（DataFrame中对应的是applymap()函数，当然DataFrame还有apply()函数）

注意，使用map方法的前提是map里面放置的是一个函数，或者有映射关系的字典类型（键值对）

官方文档连接: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html

In [21]:
# Series element-wise function application
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print(s)
print(s.map(np.square))

a    1
b    2
c    3
dtype: int64
a    1
b    4
c    9
dtype: int64

思考：如果原数列不存在，是否可以无中生有，通过映射直接生成新数列？尝试如下:

In [22]:
s2 =pd.Series([1,2,3], index = ['a', 'b', 'c'])
s = s2.map(s2)
print(s)

a   NaN
b   NaN
c   NaN
dtype: float64

结果：无法自己映射自己，实现复制

### 2.7 Series Missing Values

#### 2.7.1 Counting

可以使用Count()来统计一维数组中的值得总数，应用于多维数组的info()在这里并不适用, 但是describe()可以

In [23]:
# Count the number of null values
s = pd.Series([0, 1, np.nan, np.nan, 4])
print(s)
print(s.count())
print(s.describe().round(3))

0    0.0
1    1.0
2    NaN
3    NaN
4    4.0
dtype: float64
3
count    3.000
mean     1.667
std      2.082
min      0.000
25%      0.500
50%      1.000
75%      2.500
max      4.000
dtype: float64

#### 2.7.2 Filtering

可以通过isnull与notnull方法返回得到一个具体的数组，用于判断是否为空，前者空返回True，非空返回False，后者相反

In [24]:
# Whether the values are null
s = pd.Series([0, 1, np.nan, np.nan, 4])
print(s)
print(s.isnull())

0    0.0
1    1.0
2    NaN
3    NaN
4    4.0
dtype: float64
0    False
1    False
2     True
3     True
4    False
dtype: bool

In [25]:
# Whether the values are null
s = pd.Series([0, 1, np.nan, np.nan, 4])
print(s)
print(s.isnull())

0    0.0
1    1.0
2    NaN
3    NaN
4    4.0
dtype: float64
0    False
1    False
2     True
3     True
4    False
dtype: bool

#### 2.7.3 Dropping

以下是空值处理的一种方法，即在原有数组的基础上将空值行直接舍弃

In [26]:
# Drop the null values
s = pd.Series([0, 1, np.nan, np.nan, 4])
print(s)
s_dropped = s.dropna()
print(s_dropped)

0    0.0
1    1.0
2    NaN
3    NaN
4    4.0
dtype: float64
0    0.0
1    1.0
4    4.0
dtype: float64

#### 2.7.4 Filling

以下是处理空值的另一种方法，即对空值进行填充，除了填充固定值以外，也可以考虑计算得到例如众值，均数等值进行填充。

In [27]:
# Fill the null values
s = pd.Series([0, 1, np.nan, np.nan, 4])
print(s)
s_filled = s.fillna(999)
print(s_filled)

0    0.0
1    1.0
2    NaN
3    NaN
4    4.0
dtype: float64
0      0.0
1      1.0
2    999.0
3    999.0
4      4.0
dtype: float64

## 3. Working with DataFrame

### 3.1 DataFrame Initialization and Modification

#### 3.1.1 DataFrame Initialization

In [28]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    })
print(df)

   col_0  col_1
0      0      1
1     10     11
2     20     21

In [29]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21

In [30]:
df = pd.DataFrame({
        'col_0': {'row_0': 0, 'row_1': 10, 'row_2': 20},
        'col_1': {'row_0': 1, 'row_1': 11, 'row_2': 21}
    })
print(df)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21

#### 3.1.2 DataFrame Adding/Deleting a Row/Column

See also 5 Combining Multiple DataFrames

In [31]:
# Adding a column
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
df['col_2'] = [2, 21, 22]
print(df)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_0  col_1  col_2
row_0      0      1      2
row_1     10     11     21
row_2     20     21     22

In [32]:
# Adding a row 按照一维数组的形式添加
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
s = pd.Series([30, 31], index=['col_0', 'col_1'], name='row_3')
print(s)
df = df.append(s)
print(df)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
col_0    30
col_1    31
Name: row_3, dtype: int64
       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_3     30     31

需要特别注意的inplace参数：

Series 和 DataFrame 对象的方法中，凡是会对数组作出修改并返回一个新数组的，往往都有一个 inplace=False 的可选参数。如果手动设定为 True，那么原数组就可以被替换。 下面案例说明中具体阐述了上面的现象。

In [33]:
# Deleting a column 删除一列
# inplace默认为False，意思是在新的内存地址生成数组
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])

# 使用Python的id()方法可以打印数组所在的内存地址

# 首先查看df所在内存地址为
print("修改前数组所在的内存地址为: %s" % id(df))

# 如果选择默认inplace修改，即在生成新的数组，df1将指向新数组（内存地址）且原数组地址不变，仅发生内容修改。
df1 = df.drop('col_1', axis=1, inplace=False)
print("修改后原数组所在的内存地址为: %s" % id(df))
print("修改后新数组所在的内存地址为: %s" % id(df1))

修改前数组所在的内存地址为: 54637584
修改后原数组所在的内存地址为: 54637584
修改后新数组所在的内存地址为: 54525840

In [34]:
# Deleting a column 删除一列
# inplace默认为False，意思是在新的内存地址生成数组
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])

# 如果选择inplace=True修改，即在原内存地址进行修改，df1将被赋值为空，因为drop操作并没有返回任何内容。
# 首先查看df所在内存地址为
print("修改前数组所在的内存地址为: %s" % id(df))

# 如果选择默认inplace修改，即在生成新的数组，df1将指向新数组（内存地址）且原数组地址不变。
df1 = df.drop('col_1', axis=1, inplace=True)
print("修改后原数组所在的内存地址为: %s" % id(df))
print("修改后df1为: %s" % df1)

修改前数组所在的内存地址为: 54637456
修改后原数组所在的内存地址为: 54637456
修改后df1为: None

In [35]:
# Deleting a row 删除一行
# 注意默认的删除是axis=0，即删除行。所以如果是想删除行，可以不用指出axis值
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
df.drop('row_0', inplace=False)
print(df)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21

### 3.2 DataFrame Index, Columns and Values

#### 3.2.1 Index (Row Index)

In [36]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.index)
print(df.index.values)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
Index([u'row_0', u'row_1', u'row_2'], dtype='object')
['row_0' 'row_1' 'row_2']

#### 3.2.2 Columns (Column Index)

In [37]:
# DataFrame columns
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.columns)
print(df.columns.values)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
Index([u'col_0', u'col_1'], dtype='object')
['col_0' 'col_1']


#### 3.3.3 Reindexing

In [38]:
# 按照行对数值进行位置调整，并不影响index和元素之间的绑定关系
# Reindexing rows
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
df_reindexed = df.reindex(index=['row_2', 'row_1', 'row_0'])
print(df_reindexed)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_0  col_1
row_2     20     21
row_1     10     11
row_0      0      1

In [39]:
# Reindexing columns
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
df_reindexed = df.reindex(columns=['col_1', 'col_0'])
print(df_reindexed)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_1  col_0
row_0      1      0
row_1     11     10
row_2     21     20

#### 3.3.4 Values

In [40]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.values)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
[[ 0  1]
 [10 11]
 [20 21]]

#### 3.3.5 Transpose

In [41]:
# 这个功能和excel转置类似，即将数组的行和列对换，但是互相之间的对应关系不发生改变
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.T)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       row_0  row_1  row_2
col_0      0     10     20
col_1      1     11     21

### 3.3 DataFrame Selecting

总结Pandas数组的分布规则入下，后续还会大量遇到：

1. axis=0轴，为纵轴，也可以表述为index
2. axis=1轴，为横轴，也可以表述为columns

在二维数组中（如果有），第一项表示axis=0，即index；第二项表示axis=1，即columns

axis轴关系描述图如下：http://upload-images.jianshu.io/upload_images/2233157-b77105789e36c847.jpg?imageMogr2/auto-orient/strip%7CimageView2/2

#### 3.3.1 Label with .loc

.loc方法，可以按照列名、行名对二维数组进行取值

In [42]:
# df.loc[:, col_label] selecting columns
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.loc[:, 'col_0'])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0     0
row_1    10
row_2    20
Name: col_0, dtype: int64

In [43]:
# df.loc[row_label] selecting rows

# 在二维数组中单独写index名，表示取出相应的行
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.loc['row_0'])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
col_0    0
col_1    1
Name: row_0, dtype: int64

#### 3.3.2 Position with .iloc

.iloc方法按照行、列坐标值进行取值

In [44]:
# df.iloc[:, col_position] selecting columns
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.iloc[:, 0])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0     0
row_1    10
row_2    20
Name: col_0, dtype: int64

In [45]:
# df.iloc[row_position] selecting rows
# 与loc方法相同，如果仅仅是一个数字，表示取相对应行的值，也便是从axis=0轴上取某个index的一整行
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.iloc[1:2])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_0  col_1
row_1     10     11

#### 3.3.3 Mixing Label and Position

In [46]:
# df.loc[df.index[row_position], col_label]
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.loc[df.index[2], 'col_1'])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
21

In [47]:
# df.loc[row_label, df.colums[col_position]]
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.loc['row_2', df.columns[1]])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
21

#### 3.3.4 With [ ]

In [48]:
# df[col_label] selects columns

# 与loc方法取行不同的是，直接写df['名字']可以取出列值

df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df['col_0'])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0     0
row_1    10
row_2    20
Name: col_0, dtype: int64

In [49]:
# Convenience 1: [] with a slice to slice rows
# df[row_position_slice]
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df[1:2])

# 这里的这种取值方法等同于按照iloc方法来取值

print(df.iloc[1:2])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_0  col_1
row_1     10     11
       col_0  col_1
row_1     10     11

In [50]:
# Convenience 2: [] with a boolean array to filter rows
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df['col_1']>10) # Returns a boolean series # 这里有修改，返回值其实是一维数组
print(type(df["col_1"]))
print(df[df['col_1']>10])

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0    False
row_1     True
row_2     True
Name: col_1, dtype: bool
<class 'pandas.core.series.Series'>
       col_0  col_1
row_1     10     11
row_2     20     21

In [51]:
series = np.array([False, True, True])
print(df[series])

       col_0  col_1
row_1     10     11
row_2     20     21

In [52]:
# Convenience 3: [] with a boolean DataFrame to filter element
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df>10)
print(df[df>10])
# This is used to set values elementwise based on some criterion
df[df>10] = 999
print(df)

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_0  col_1
row_0  False  False
row_1  False   True
row_2   True   True
       col_0  col_1
row_0    NaN    NaN
row_1    NaN   11.0
row_2   20.0   21.0
       col_0  col_1
row_0      0      1
row_1     10    999
row_2    999    999

### 3.4 DataFrame Sorting and Ranking

#### 3.4.1 Sorting by Index

In [53]:
# Sort rows by index

# 以下是快速创建numpy数组的方法，简单的说来Pandas数组是在nupmy数组的基础上加上了轴名
df = pd.DataFrame(np.arange(9).reshape((3,3)),
                  index=['row_2', 'row_1', 'row_4'],
                  columns=['col_2', 'col_1', 'col_0'])
print(df)

# 这里的排序存在其内在的算法，即便名字不完全相同也可以进行排序。
df_sorted = df.sort_index()
print(df_sorted)

       col_2  col_1  col_0
row_2      0      1      2
row_1      3      4      5
row_4      6      7      8
       col_2  col_1  col_0
row_1      3      4      5
row_2      0      1      2
row_4      6      7      8

In [54]:
# Sort rows by index 名字不相同时候的排序
df = pd.DataFrame(np.arange(9).reshape((3,3)),
                  index=['100', 'aa', 'a1'],
                  columns=['col_2', 'col_1', 'col_0'])
print(df)
# 欢迎有兴趣的同学可以对这点进行探索，即排序值的计算
#目前发现的规律有以下几种：数字比字母小；字母按照从a到z来排；大写字母优先于小写；首字母相同按照不相同的开始排序计算
df_sorted = df.sort_index()
print(df_sorted)

     col_2  col_1  col_0
100      0      1      2
aa       3      4      5
a1       6      7      8
     col_2  col_1  col_0
100      0      1      2
a1       6      7      8
aa       3      4      5

In [55]:
# Sort columns by index
df = pd.DataFrame(np.arange(9).reshape((3,3)),
                  index=['row_2', 'row_1', 'row_0'],
                  columns=['col_2', 'col_1', 'col_0'])
print(df)

# 对列进行排序
df_sorted = df.sort_index(axis=1)
print(df_sorted)

       col_2  col_1  col_0
row_2      0      1      2
row_1      3      4      5
row_0      6      7      8
       col_0  col_1  col_2
row_2      2      1      0
row_1      5      4      3
row_0      8      7      6

#### 3.4.2 Sorting by Values

In [56]:
# Sort rows by values
df = pd.DataFrame(np.arange(9)[::-1].reshape((3,3)),
                  index=['row_0', 'row_1', 'row_2'],
                  columns=['col_0', 'col_1', 'col_2'])
print(df)

# 以第一列为参考对值进行排序，这里axis=0作为默认参数可以隐藏不写
df_sorted = df.sort_values(by=['col_0'], axis=0)
print(df_sorted)

       col_0  col_1  col_2
row_0      8      7      6
row_1      5      4      3
row_2      2      1      0
       col_0  col_1  col_2
row_2      2      1      0
row_1      5      4      3
row_0      8      7      6

In [57]:
# Sort columns by values
df = pd.DataFrame(np.arange(9)[::-1].reshape((3,3)),
                  index=['row_0', 'row_1', 'row_2'],
                  columns=['col_0', 'col_1', 'col_2'])
print(df)

# 如果需要按照行的值进行排序，需要写上行名，然后调整axis=1, 同时也可以设置ascending来指定升序还是降序
df_sorted = df.sort_values(by=['row_0'], axis=1, ascending=False)
print(df_sorted)

       col_0  col_1  col_2
row_0      8      7      6
row_1      5      4      3
row_2      2      1      0
       col_0  col_1  col_2
row_0      8      7      6
row_1      5      4      3
row_2      2      1      0

#### 3.4.3 Ranking

In [58]:
# 类似于series，这里可以指定max, average, first等作为排名方法
# 排名仅会对值在数组中的大小进行比较，然后返回一个编号，默认从小到大，但是并不会改变原数组的结构
df = pd.DataFrame([
    [3, 4],
    [2, 5],
    [1, 4],
    [0, 5]
])
print(df)
print(df.rank(method='first'))

   0  1
0  3  4
1  2  5
2  1  4
3  0  5
     0    1
0  4.0  1.0
1  3.0  3.0
2  2.0  2.0
3  1.0  4.0

### 3.5 DataFrame Computations

#### 3.5.1 Maximum Value

In [59]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 41, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.max())

       col_0  col_1
row_0      0      1
row_1     10     41
row_2     20     21
col_0    20
col_1    41
dtype: int64

#### 3.5.2 Maximum Value Label

In [60]:
# 可以通过idxmax方法取出数组的最大值所在的位置

df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 41, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.idxmax())

       col_0  col_1
row_0      0      1
row_1     10     41
row_2     20     21
col_0    row_2
col_1    row_1
dtype: object

#### 3.5.3 Minimum Value

In [61]:
# 可以通过指定axis=1对行元素进行数值大小的比较，返回得到最大值所在的列

df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.min(axis=1))

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0     0
row_1    10
row_2    20
dtype: int64

#### 3.5.4 Minimum Value Label

In [62]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.idxmin(axis=1))

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0    col_0
row_1    col_0
row_2    col_0
dtype: object

#### 3.5.5 Mean

In [63]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.mean(axis=1))

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0     0.5
row_1    10.5
row_2    20.5
dtype: float64

#### 3.5.6 Median

In [64]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.median())

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
col_0    10.0
col_1    11.0
dtype: float64

#### 3.5.7 Sum

In [65]:
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.sum())

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
col_0    30
col_1    33
dtype: int64

### 3.6 DataFrame Applying Function

#### 3.6.1 Element-wise

In [66]:
# DataFrame element-wise function application

# 这个功能和series中的map一样
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.applymap(np.square))

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
       col_0  col_1
row_0      0      1
row_1    100    121
row_2    400    441

#### 3.6.2 Column-wise

In [67]:
# DataFrame column-wise function application
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)

# 这里的lambda为匿名函数
print(df.apply(lambda x: x.max() - x.min(), axis=0))

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
col_0    20
col_1    20
dtype: int64

#### 3.6.3 Row-wise

In [68]:
# DataFrame row-wise function application
df = pd.DataFrame({
        'col_0': [0, 10, 20],
        'col_1': [1, 11, 21]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.apply(lambda x: x.max() - x.min(), axis=1))

       col_0  col_1
row_0      0      1
row_1     10     11
row_2     20     21
row_0    1
row_1    1
row_2    1
dtype: int64

### 3.7 DataFrame Missing Values

#### 3.7.1 Counting

In [69]:
# Count the number of null values
df = pd.DataFrame({
        'col_0': [0, 10, np.nan],
        'col_1': [1, np.nan, np.nan]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.count())

       col_0  col_1
row_0    0.0    1.0
row_1   10.0    NaN
row_2    NaN    NaN
col_0    2
col_1    1
dtype: int64

#### 3.7.2 Filtering

In [70]:
# Whether the values are null
df = pd.DataFrame({
        'col_0': [0, 10, np.nan],
        'col_1': [1, np.nan, np.nan]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.isnull())

       col_0  col_1
row_0    0.0    1.0
row_1   10.0    NaN
row_2    NaN    NaN
       col_0  col_1
row_0  False  False
row_1  False   True
row_2   True   True

In [71]:
# Whether the values are not null
df = pd.DataFrame({
        'col_0': [0, 10, np.nan],
        'col_1': [1, np.nan, np.nan]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
print(df.notnull())

       col_0  col_1
row_0    0.0    1.0
row_1   10.0    NaN
row_2    NaN    NaN
       col_0  col_1
row_0   True   True
row_1   True  False
row_2  False  False

#### 3.7.3 Dropping

In [72]:
# Drop rows with ANY null values
df = pd.DataFrame({
        'col_0': [0, 10, np.nan],
        'col_1': [1, np.nan, np.nan]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
df_dropped = df.dropna()
print(df_dropped)

       col_0  col_1
row_0    0.0    1.0
row_1   10.0    NaN
row_2    NaN    NaN
       col_0  col_1
row_0    0.0    1.0

#### 3.7.4 Filling

In [73]:
# Fill the null values
df = pd.DataFrame({
        'col_0': [0, 10, np.nan],
        'col_1': [1, np.nan, np.nan]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
df_filled = df.fillna(999)
print(df_filled)

       col_0  col_1
row_0    0.0    1.0
row_1   10.0    NaN
row_2    NaN    NaN
       col_0  col_1
row_0    0.0    1.0
row_1   10.0  999.0
row_2  999.0  999.0

In [74]:
# Fill the null values, column specific
df = pd.DataFrame({
        'col_0': [0, 10, np.nan],
        'col_1': [1, np.nan, np.nan]
    }, index = ['row_0', 'row_1', 'row_2'])
print(df)
df_filled = df.fillna({'col_0': 777, 'col_1': 888})
print(df_filled)

       col_0  col_1
row_0    0.0    1.0
row_1   10.0    NaN
row_2    NaN    NaN
       col_0  col_1
row_0    0.0    1.0
row_1   10.0  888.0
row_2  777.0  888.0

## 4. Working with CSV Files

除了读取CSV格式文件外，Pandas也可以完成对很多其他格式文件的读取，为了方便以后使用，留存链接如下：

https://pandas.pydata.org/pandas-docs/stable/io.html

### 4.1 Reading CSV Files

#### 4.1.1 直接读取

!cat file1.csv
df = pd.read_csv('file1.csv')
print(df)

#### 4.1.2 读取时加上"\t"

# Tab delimited file 这里的\t为制表符，表示tab缩进
!cat file2.txt
df = pd.read_csv('file2.txt', sep='\t')
print(df)

#### 4.1.3 取消标题

# CSV file with no headers
!cat file3.csv
df = pd.read_csv('file3.csv', header=None)
print(df)

#### 4.1.4 对无标题CSV添加标题

# Add headers to no header CSV file
!cat file3.csv
df = pd.read_csv('file3.csv', 
                 names=['Rank', 'Language', 'L1 speakers', 'Total'])
print(df)

#### 4.1.5 将其中一列作为index列

# Set one CSV column as DataFrame index
!cat file1.csv
df = pd.read_csv('file1.csv', index_col='Rank')
print(df)

#### 4.1.6 读CSV文件时，跳过行

# Skip rows of CSV file
!cat file4.csv
df = pd.read_csv('file4.csv', skiprows=2) # 跳过文件最开始的两行
print(df)

#### 4.1.7 读文件时，空值的处理

# CSV with missing values
!cat file5.csv
df = pd.read_csv('file5.csv')
print(df)
# By default the following values are interpreted as NaN: 
#‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, 
#‘1.#IND’, ‘1.#QNAN’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘nan’`.

#### 4.1.8 读取文件其中几行

# Read a small number of rows
!cat file1.csv
df = pd.read_csv('file1.csv', nrows=3)
print(df)

#### 4.1.9 以Chunk方式读取，减少内存占用

# Read in chunks for large CSV files
!cat file1.csv
reader = pd.read_csv('file1.csv', chunksize=2)
for chunck in reader:
    print(chunck)
# The return value is an iterable TextFileReader object.

### 4.2 Writing CSV Files

#### 4.2.1 默认导出格式，包含索引

# With DataFrame index
df = pd.read_csv('file1.csv')
print(df)
df.to_csv('file_out1.csv')
!cat file_out1.csv

#### 4.2.2 修改导出格式，删除索引

# No DataFrame index
df = pd.read_csv('file1.csv')
print(df)
df.to_csv('file_out2.csv', index=False)
!cat file_out2.csv

## 5. Combining Multiple DataFrames

更多的官方文档在如下连接

### 5.1 Database-Style DataFrame Merging

#### 5.1.1 Relationships

合并关系有三种，分别是：
1. One-to-one	Join two columns that contain unique values
2. Many-to-one	Join one column that contains non-unique values with another column that contains unique values
3. Many-to-many	Join two columns that contain non-unique values

In [75]:
# DataFrame merge one-to-one 一对一合并
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1'],
        'key': ['K0', 'K1']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key')
print(df_merged)

    A key
0  A0  K0
1  A1  K1
    B key
0  B0  K0
1  B1  K1
    A key   B
0  A0  K0  B0
1  A1  K1  B1

In [76]:
# DataFrame merge many-to-one 多对1合并
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K0']
    })
df_r = pd.DataFrame({
        'B': ['B0'],
        'key': ['K0']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key')
print(df_merged)

    A key
0  A0  K0
1  A1  K0
    B key
0  B0  K0
    A key   B
0  A0  K0  B0
1  A1  K0  B0

In [77]:
# DataFrame merge many-to-many
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K0']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1'],
        'key': ['K0', 'K0']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key')
print(df_merged)

    A key
0  A0  K0
1  A1  K0
    B key
0  B0  K0
1  B1  K0
    A key   B
0  A0  K0  B0
1  A0  K0  B1
2  A1  K0  B0
3  A1  K0  B1

#### 5.1.2 Merge Methods

合并的方法有四种，操作和数据库操作类似：
1. Inner	Use intersection of keys from both DataFrames 内连接
2. Outer	Use union of keys from both DataFrames 外连接
3. Left	Use keys from left DataFrame only 左连接
4. Right	Use keys from right DataFrame only 右连接

In [78]:
# DataFrame merge method inner 仅对相同的公共部分进行连接，默认为内连接
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1'],
        'key': ['K0', 'K2']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key') # default how='inner'
print(df_merged)

    A key
0  A0  K0
1  A1  K1
    B key
0  B0  K0
1  B1  K2
    A key   B
0  A0  K0  B0

In [79]:
# DataFrame merge method outer # 左右两边都会被保留，如果在另一张表没有找到就留空
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1'],
        'key': ['K0', 'K2']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key', how='outer')
print(df_merged)

    A key
0  A0  K0
1  A1  K1
    B key
0  B0  K0
1  B1  K2
     A key    B
0   A0  K0   B0
1   A1  K1  NaN
2  NaN  K2   B1

In [80]:
# DataFrame merge method left # 以左表为参照，左表内容在右表没有找到的就留空
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1'],
        'key': ['K0', 'K2']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key', how='left')
print(df_merged)

    A key
0  A0  K0
1  A1  K1
    B key
0  B0  K0
1  B1  K2
    A key    B
0  A0  K0   B0
1  A1  K1  NaN

In [81]:
# DataFrame merge method right 以右表为参照，右表内容在右表没有找到的就留空
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1'],
        'key': ['K0', 'K2']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key', how='right')
print(df_merged)

    A key
0  A0  K0
1  A1  K1
    B key
0  B0  K0
1  B1  K2
     A key   B
0   A0  K0  B0
1  NaN  K2  B1

#### 5.1.3 Merge on Keys (Columns)

In [82]:
# DataFrame merge with different key names (columns)
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key_l': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1'],
        'key_r': ['K0', 'K1']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, left_on='key_l', right_on='key_r')
print(df_merged)

    A key_l
0  A0    K0
1  A1    K1
    B key_r
0  B0    K0
1  B1    K1
    A key_l   B key_r
0  A0    K0  B0    K0
1  A1    K1  B1    K1

In [83]:
# DataFrame merge on multiple keys (columns)
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key1': ['K0', 'K1'],
        'key2': ['L0', 'L0']
    })
df_r = pd.DataFrame({
        'B': ['B1', 'B2'],
        'key1': ['K0', 'K0'],
        'key2': ['L0', 'L1']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on=['key1', 'key2'], how='outer')
print(df_merged)

    A key1 key2
0  A0   K0   L0
1  A1   K1   L0
    B key1 key2
0  B1   K0   L0
1  B2   K0   L1
     A key1 key2    B
0   A0   K0   L0   B1
1   A1   K1   L0  NaN
2  NaN   K0   L1   B2

#### 5.1.4 Column Names

In [84]:
# Same column name
df_l = pd.DataFrame({
        'A': ['L0', 'L1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'A': ['R2', 'R3'],
        'key': ['K0', 'K1']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key')
print(df_merged)

    A key
0  L0  K0
1  L1  K1
    A key
0  R2  K0
1  R3  K1
  A_x key A_y
0  L0  K0  R2
1  L1  K1  R3

In [85]:
# Add suffixes to the same column name
df_l = pd.DataFrame({
        'A': ['L0', 'L1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'A': ['R2', 'R3'],
        'key': ['K0', 'K1']
    })
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, on='key', suffixes=('_l', '_r'))
print(df_merged)

    A key
0  L0  K0
1  L1  K1
    A key
0  R2  K0
1  R3  K1
  A_l key A_r
0  L0  K0  R2
1  L1  K1  R3

#### 5.1.5 Merge on Index

In [86]:
# Merge on index
df_l = pd.DataFrame({
        'A': ['A0', 'A1']
    }, index=['K0', 'K1'])
df_r = pd.DataFrame({
        'B': ['B0', 'B1']
    }, index=['K0', 'K1'])
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, left_index=True, right_index=True)
print(df_merged)

     A
K0  A0
K1  A1
     B
K0  B0
K1  B1
     A   B
K0  A0  B0
K1  A1  B1

In [87]:
# Merge on index and key
df_l = pd.DataFrame({
        'A': ['A0', 'A1'],
        'key': ['K0', 'K1']
    })
df_r = pd.DataFrame({
        'B': ['B0', 'B1']
    }, index=['K0', 'K1'])
print(df_l)
print(df_r)
df_merged = pd.merge(df_l, df_r, left_on='key', right_index=True)
print(df_merged)

    A key
0  A0  K0
1  A1  K1
     B
K0  B0
K1  B1
    A key   B
0  A0  K0  B0
1  A1  K1  B1

### 5.2 Concatenating DataFrames Along an Axis

#### 5.2.1 Index

In [88]:
# Keeping original indexes 直接使用concat是在原表的基础上继续按行添加
df1 = pd.DataFrame({
        'A': ['A0', 'A1'],
        'B': ['B0', 'B1']
    }, index=['a', 'b'])
df2 = pd.DataFrame({
        'A': ['A2', 'A3'],
        'B': ['B2', 'B3']
    }, index=['c', 'd'])
print(df1)
print(df2)
df_concat = pd.concat([df1, df2])
print(df_concat)

    A   B
a  A0  B0
b  A1  B1
    A   B
c  A2  B2
d  A3  B3
    A   B
a  A0  B0
b  A1  B1
c  A2  B2
d  A3  B3

In [89]:
# Ignoring original indexes # 在合并的过程中，忽略掉原列名
df1 = pd.DataFrame({
        'A': ['A0', 'A1'],
        'B': ['B0', 'B1']
    }, index=['a', 'b'])
df2 = pd.DataFrame({
        'A': ['A2', 'A3'],
        'B': ['B2', 'B3']
    }, index=['c', 'd'])
print(df1)
print(df2)
df_concat = pd.concat([df1, df2], ignore_index=True)
print(df_concat)

    A   B
a  A0  B0
b  A1  B1
    A   B
c  A2  B2
d  A3  B3
    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [90]:
# Hierarchical index on the concatenation axis # 在原有的index基础上再套一层，做成multiindex结构
df1 = pd.DataFrame({
        'A': ['A0', 'A1'],
        'B': ['B0', 'B1']
    }, index=['a', 'b'])
df2 = pd.DataFrame({
        'A': ['A2', 'A3'],
        'B': ['B2', 'B3']
    }, index=['c', 'd'])
print(df1)
print(df2)
df_concat = pd.concat([df1, df2], keys=['x', 'y'])
print(df_concat)

    A   B
a  A0  B0
b  A1  B1
    A   B
c  A2  B2
d  A3  B3
      A   B
x a  A0  B0
  b  A1  B1
y c  A2  B2
  d  A3  B3

#### 5.2.2 Concatenating Axis

In [91]:
df1 = pd.DataFrame({
        'A': ['A0', 'A1'],
        'B': ['B0', 'B1']
    })
df2 = pd.DataFrame({
        'C': ['C0', 'C1'],
        'D': ['D0', 'D1']
    })
print(df1)
print(df2)

# 按行进行拼接
df_concat = pd.concat([df1, df2], axis=1)
print(df_concat)

    A   B
0  A0  B0
1  A1  B1
    C   D
0  C0  D0
1  C1  D1
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

#### 5.2.3 Logic on the Other Axis

In [92]:
# Inner join
df1 = pd.DataFrame({
        'A': ['A0', 'A1'],
        'B': ['B0', 'B1']
    }, index=[0, 1])
df2 = pd.DataFrame({
        'B': ['B2', 'B3'],
        'C': ['C2', 'C3']
    }, index=[2, 4])
print(df1)
print(df2)

# 默认案列进行拼接，所以列名相同就可以被接起来
df_concat = pd.concat([df1, df2], join='inner')
print(df_concat)

    A   B
0  A0  B0
1  A1  B1
    B   C
2  B2  C2
4  B3  C3
    B
0  B0
1  B1
2  B2
4  B3

In [93]:
# Outer join
df1 = pd.DataFrame({
        'A': ['A0', 'A1'],
        'B': ['B0', 'B1']
    }, index=[0, 1])
df2 = pd.DataFrame({
        'B': ['B2', 'B3'],
        'C': ['C2', 'C3']
    }, index=[2, 3])
print(df1)
print(df2)
df_concat = pd.concat([df1, df2]) # default join='outer'
print(df_concat)

    A   B
0  A0  B0
1  A1  B1
    B   C
2  B2  C2
3  B3  C3
     A   B    C
0   A0  B0  NaN
1   A1  B1  NaN
2  NaN  B2   C2
3  NaN  B3   C3

## 6. Reshaping and Transformation

### 6.1 Reshaping and Transformation

#### 6.1.1 Pivoting

##### 创建数据透视表，类似于excel中的数透表

案例材料如下：

数组格式
         date      city  min_temp_C  max_temp_C
0  2017-01-01    London           4          10
1  2017-01-01  New York           5           8
2  2017-01-01  Shanghai           5          15
3  2017-01-02    London          -1           5
4  2017-01-02  New York           3           4
5  2017-01-02  Shanghai           8          15
6  2017-01-03    London          -2           5
7  2017-01-03  New York           4           6
8  2017-01-03  Shanghai           7          14

df_pivoted = df.pivot(index='date', columns='city', values='min_temp_C')

city        London  New York  Shanghai
date                                  
2017-01-01       4         5         5
2017-01-02      -1         3         8
2017-01-03      -2         4         7

# If values are not specified, all remaining columns will be used 
# and the result will have hierarchically indexed columns

df_pivoted = df.pivot(index='date', columns='city')
city           London New York Shanghai     London New York Shanghai
date                                                                
2017-01-01          4        5        5         10        8       15
2017-01-02         -1        3        8          5        4       15
2017-01-03         -2        4        7          5        6       14

#### 6.1.2 Stacking and Unstacking

In [94]:
# 将行索引逆转称为列索引，实现层次化索引, 如果原有数组为二维，则将二维数组转换为一维数组

# 案例一
df = pd.DataFrame([[1, 2],
                   [3, 4]],
                  index=['a', 'b'],
                  columns=['X', 'Y'])
print(df)
print(df.stack())

   X  Y
a  1  2
b  3  4
a  X    1
   Y    2
b  X    3
   Y    4
dtype: int64

In [95]:
# 案例二
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],[7, 8, 9]],
                  index=['a', 'b', 'c'],
                  columns=['X', 'Y', 'Z'])
print(df)
print(df.stack())

   X  Y  Z
a  1  2  3
b  4  5  6
c  7  8  9
a  X    1
   Y    2
   Z    3
b  X    4
   Y    5
   Z    6
c  X    7
   Y    8
   Z    9
dtype: int64

# Unstack pivots a level of the row index to the column axis
# unstack将列级索引转化为行级索引
print(df)
df_unstacked = df.unstack()
print(df_unstacked)

                     min_temp_C  max_temp_C
date       city                            
2017-01-01 London             4          10
           New York           5           8
           Shanghai           5          15
2017-01-02 London            -1           5
           New York           3           4
           Shanghai           8          15
2017-01-03 London            -2           5
           New York           4           6
           Shanghai           7          14
           min_temp_C                   max_temp_C
   
city           London New York Shanghai     London New York Shanghai
date                                                                
2017-01-01          4        5        5         10        8       15
2017-01-02         -1        3        8          5        4       15
2017-01-03         -2        4        7          5        6       14

# Stack pivots a level of the column labels to the row axis
# stack为unstack的逆转，将行级索引转化为列级索引
df = df_unstacked
print(df)
df_stacked = df.stack()
print(df_stacked)

           min_temp_C                   max_temp_C                  
city           London New York Shanghai     London New York Shanghai
date                                                                
2017-01-01          4        5        5         10        8       15
2017-01-02         -1        3        8          5        4       15
2017-01-03         -2        4        7          5        6       14

                     min_temp_C  max_temp_C
date       city                            
2017-01-01 London             4          10
           New York           5           8
           Shanghai           5          15
2017-01-02 London            -1           5
           New York           3           4
           Shanghai           8          15
2017-01-03 London            -2           5
           New York           4           6
           Shanghai           7          14

### 6.2 Data Transformation

#### 6.2.1 Removing Duplicates

In [96]:
# 案例一
# 默认保留第一次出现的值，同时行索引并不会改变，而是保留原有的数值。
# Across all columns
df = pd.DataFrame({
        'col_0': [0, 0, 1, 1],
        'col_1': [0, 0, 2, 3]
    })
print(df)
df_deduplicated = df.drop_duplicates() # default keep='first'
print(df_deduplicated)
# keep
# first: Drop duplicates except for the first occurrence.
# last: Drop duplicates except for the last occurrence.
# False: Drop all duplicates.

   col_0  col_1
0      0      0
1      0      0
2      1      2
3      1      3
   col_0  col_1
0      0      0
2      1      2
3      1      3

In [97]:
# 案例二
# Across all columns
df = pd.DataFrame({
        'col_0': [0, 0, 1, 1],
        'col_1': [0, 0, 2, 3]
    })
print(df)
df_deduplicated = df.drop_duplicates(keep=False) # default keep='first'
print(df_deduplicated)
# keep
# first: Drop duplicates except for the first occurrence.
# last: Drop duplicates except for the last occurrence.
# False: Drop all duplicates.

   col_0  col_1
0      0      0
1      0      0
2      1      2
3      1      3
   col_0  col_1
2      1      2
3      1      3

In [98]:
# 指明特定的列以此列为参照，只要这一列有重复，就整行的值。
# Specifying columns
df = pd.DataFrame({
        'col_0': [0, 0, 1, 1],
        'col_1': [0, 0, 2, 3]
    })
print(df)
df_deduplicated = df.drop_duplicates(['col_0']) # default keep='first'
print(df_deduplicated)
# keep
# first: Drop duplicates except for the first occurrence.
# last: Drop duplicates except for the last occurrence.
# False: Drop all duplicates.

   col_0  col_1
0      0      0
1      0      0
2      1      2
3      1      3
   col_0  col_1
0      0      0
2      1      2

#### 6.2.2 Replacing values

# 按照字典的键值对，将所有需要被替换的值写到字典中，可以实现一次性对多项数据的替换。
print(df)
city_to_country = {'London': 'UK',
                  'New York': 'US',
                  'Shanghai': 'CN'}
df_replaced = df.replace(city_to_country)
print(df_replaced)

         date      city  min_temp_C  max_temp_C
0  2017-01-01    London           4          10
1  2017-01-01  New York           5           8
2  2017-01-01  Shanghai           5          15
3  2017-01-02    London          -1           5
4  2017-01-02  New York           3           4
5  2017-01-02  Shanghai           8          15
6  2017-01-03    London          -2           5
7  2017-01-03  New York           4           6
8  2017-01-03  Shanghai           7          14
         date city  min_temp_C  max_temp_C
0  2017-01-01   UK           4          10
1  2017-01-01   US           5           8
2  2017-01-01   CN           5          15
3  2017-01-02   UK          -1           5
4  2017-01-02   US           3           4
5  2017-01-02   CN           8          15
6  2017-01-03   UK          -2           5
7  2017-01-03   US           4           6
8  2017-01-03   CN           7          14

#### 6.2.3 Renaming Index

# Renaming column names

# 对列名进行修改
print(df_replaced)
df_col_renamed = df_replaced.rename(columns={'city': 'country'})
print(df_col_renamed)

         date city  min_temp_C  max_temp_C
0  2017-01-01   UK           4          10
1  2017-01-01   US           5           8
2  2017-01-01   CN           5          15
3  2017-01-02   UK          -1           5
4  2017-01-02   US           3           4
5  2017-01-02   CN           8          15
6  2017-01-03   UK          -2           5
7  2017-01-03   US           4           6
8  2017-01-03   CN           7          14
         date country  min_temp_C  max_temp_C
0  2017-01-01      UK           4          10
1  2017-01-01      US           5           8
2  2017-01-01      CN           5          15
3  2017-01-02      UK          -1           5
4  2017-01-02      US           3           4
5  2017-01-02      CN           8          15
6  2017-01-03      UK          -2           5
7  2017-01-03      US           4           6
8  2017-01-03      CN           7          14

# Renaming row indexes
df_col_renamed = df_col_renamed.set_index('country')
print(df_col_renamed)
df_row_renamed = df_col_renamed.rename(index={'UK': 'United Kindom',
                                              'US': 'United States',
                                              'CN': 'China'})
print(df_row_renamed)

               date  min_temp_C  max_temp_C
country                                    
UK       2017-01-01           4          10
US       2017-01-01           5           8
CN       2017-01-01           5          15
UK       2017-01-02          -1           5
US       2017-01-02           3           4
CN       2017-01-02           8          15
UK       2017-01-03          -2           5
US       2017-01-03           4           6
CN       2017-01-03           7          14

                     date  min_temp_C  max_temp_C
country                                          
United Kindom  2017-01-01           4          10
United States  2017-01-01           5           8
China          2017-01-01           5          15
United Kindom  2017-01-02          -1           5
United States  2017-01-02           3           4
China          2017-01-02           8          15
United Kindom  2017-01-03          -2           5
United States  2017-01-03           4           6
China          2017-01-03           7          14

#### 6.2.4 Binning

In [99]:
# Specifying bin boundaries

# bin取值的时候采用左开右闭的形式，即右边可以取到，左边取不到
x = np.array([90, 80, 98, 85, 74, 62, 73, 5, 84, 74, 88, 85])
binned = pd.cut(x, bins=[0, 60, 70, 80, 90, 100])
print(binned)
print(pd.value_counts(binned).sort_index(ascending=False))

[(80, 90], (70, 80], (90, 100], (80, 90], (70, 80], ..., (0, 60], (80, 90], (70, 80], (80, 90], (80, 90]]
Length: 12
Categories (5, interval[int64]): [(0, 60] < (60, 70] < (70, 80] < (80, 90] < (90, 100]]
(90, 100]    1
(80, 90]     5
(70, 80]     4
(60, 70]     1
(0, 60]      1
dtype: int64

In [100]:
# Specifying number of equal-length bins

# 按照从最小值到最大值，取4个区间
x = np.array([90, 80, 98, 85, 74, 62, 73, 56, 84, 74, 88, 85])
binned = pd.cut(x, bins=4)
print(binned)
print(pd.value_counts(binned).sort_index(ascending=False))

[(87.5, 98.0], (77.0, 87.5], (87.5, 98.0], (77.0, 87.5], (66.5, 77.0], ..., (55.958, 66.5], (77.0, 87.5], (66.5, 77.0], (87.5, 98.0], (77.0, 87.5]]
Length: 12
Categories (4, interval[float64]): [(55.958, 66.5] < (66.5, 77.0] < (77.0, 87.5] < (87.5, 98.0]]
(87.5, 98.0]      3
(77.0, 87.5]      4
(66.5, 77.0]      3
(55.958, 66.5]    2
dtype: int64

In [101]:
# Specifying number of quantiles, same number of items in each bin

# 具体指出计数的分位点，取值为其之间的区间，相当于前1%的为一个区间，1%到50%之间为一个区间。
x = np.array([90, 80, 98, 85, 74, 62, 73, 56, 84, 74, 88, 85])
binned = pd.qcut(x, q=[0, 0.25, 0.5, 0.99, 1])
print(pd.value_counts(binned).sort_index(ascending=False))

(97.12, 98.0]      1
(82.0, 97.12]      5
(73.75, 82.0]      3
(55.999, 73.75]    3
dtype: int64

In [102]:
# Adding labels for the resulting bins

# 取值的同时，对取出的值进行贴标签
x = np.array([90, 80, 98, 85, 74, 62, 73, 56, 84, 74, 88, 85])
binned = pd.cut(x, bins=[0, 60, 70, 80, 90, 100], 
                labels=['F', 'D', 'C', 'B', 'A'])
print(pd.value_counts(binned).sort_index(ascending=False))

F    1
D    1
C    4
B    5
A    1
dtype: int64

#### 6.2.5 Dummy Variables

虚拟变量又称虚设变量、名义变量或哑变量，用以反映质的属性的一个人工变量,是量化了的质变量，通常取值为0或1。引入哑变量可使线形回归模型变得更复杂，但对问题描述更简明，一个方程能达到俩个方程的作用，而且接近现实。

　　例如，反映文程度的虚拟变量可取为：1:本科学历；0：非本科学历

　　一般地，在虚拟变量的设置中：基础类型、肯定类型取值为1；比较类型，否定类型取值为0。
  
更多的说明参见：http://wiki.mbalib.com/wiki/%E8%99%9A%E6%8B%9F%E5%8F%98%E9%87%8F

In [103]:
df = pd.DataFrame({
    'gender': ['F', 'M', 'M', 'F']
})
print(df)
print(pd.get_dummies(df['gender']))

  gender
0      F
1      M
2      M
3      F
   F  M
0  1  0
1  0  1
2  0  1
3  1  0

In [104]:
# Drop a column to avoid collinearity
df = pd.DataFrame({
    'gender': ['F', 'M', 'M', 'F']
})
print(df)
print(pd.get_dummies(df['gender'], drop_first=True))

  gender
0      F
1      M
2      M
3      F
   M
0  0
1  1
2  1
3  0

In [105]:
# Add prefix
# 引进虚变量的过程中加入前缀
df = pd.DataFrame({
    'gender': ['F', 'M', 'M', 'F']
})
print(df)
print(pd.get_dummies(df['gender'], prefix='gender'))

  gender
0      F
1      M
2      M
3      F
   gender_F  gender_M
0         1         0
1         0         1
2         0         1
3         1         0

## 7. String Manipulation

### 7.1 Vectorized String Method

#### 7.1.1 Uppercase

In [106]:
s = pd.Series(['Apple', 'Banana', 'Orange'])
print(s)
print(s.str.upper())

0     Apple
1    Banana
2    Orange
dtype: object
0     APPLE
1    BANANA
2    ORANGE
dtype: object

#### 7.1.2 Lowercase

In [107]:
s = pd.Series(['Apple', 'Banana', 'Orange'])
print(s)
print(s.str.upper())

0     Apple
1    Banana
2    Orange
dtype: object
0     APPLE
1    BANANA
2    ORANGE
dtype: object

#### 7.1.3 String Length

In [108]:
s = pd.Series(['Apple', 'Banana', 'Orange'])
print(s)
print(s.str.len())

0     Apple
1    Banana
2    Orange
dtype: object
0    5
1    6
2    6
dtype: int64

#### 7.1.4 Trimming Whitespace

In [109]:
s = pd.Index(['none', '   left', 'right   ', '   both   '])
print(s)
# strip trims both sides
print(s.str.strip())
# lstrip trims left side
print(s.str.lstrip())
# rstrip trims right side
print(s.str.rstrip())

Index([u'none', u'   left', u'right   ', u'   both   '], dtype='object')
Index([u'none', u'left', u'right', u'both'], dtype='object')
Index([u'none', u'left', u'right   ', u'both   '], dtype='object')
Index([u'none', u'   left', u'right', u'   both'], dtype='object')

#### 7.1.5 Index of Found Substring

In [110]:
# find
# Returns lowest indexes in each strings # 返回找到的最小的位置值
# Returns -1 on failure # 如果没有找到就返回-1

# 查找某一个特定的值出现的次数
s = pd.Series(['AAAA', 'Bdfanana', 'Orange'])
print(s)
print(s.str.find('a'))

0        AAAA
1    Bdfanana
2      Orange
dtype: object
0   -1
1    3
2    2
dtype: int64

#### 7.1.6 Replacing

In [111]:
s = pd.Series(['Apple', 'Banana', 'Orange'])
print(s)
print(s.str.replace('a', '@')) # 识别过程中区分大小写

0     Apple
1    Banana
2    Orange
dtype: object
0     Apple
1    B@n@n@
2    Or@nge
dtype: object

#### 7.1.7 Splitting

In [112]:
s = pd.Series(['a_b_c', 'd_e']) # 对字符串进行分割
print(s)
print(s.str.split('_'))

0    a_b_c
1      d_e
dtype: object
0    [a, b, c]
1       [d, e]
dtype: object

In [113]:
s = pd.Series(['a_b_c', 'd_e'])
print(s)
print(s.str.split('_', expand=True)) # Expanding into DataFrame 将拆分结果转化为数组

0    a_b_c
1      d_e
dtype: object
   0  1     2
0  a  b     c
1  d  e  None

#### 7.1.8 Joining

In [114]:
s = pd.Series([['a', 'b', 'c'], ['d', 'e']]) #对字符串进行合并
print(s)
print(s.str.join('_'))

0    [a, b, c]
1       [d, e]
dtype: object
0    a_b_c
1      d_e
dtype: object

### 7.2 Vectorized String Method with Regular Expressions

关于正则表达式的更多内容可以参见如下链接：

https://docs.python.org/3/howto/regex.html

#### 7.2.1 Counting Matched Pattern

In [115]:
pattern = r'[a-z][0-9]'
s = pd.Series(['1', 'a2', '3b4', 'c5d6', '22321b3dfsf23'])
print(s)
print(s.str.count(pattern))

0                1
1               a2
2              3b4
3             c5d6
4    22321b3dfsf23
dtype: object
0    0
1    1
2    1
3    2
4    2
dtype: int64

#### 7.2.2 Finding Pattern

In [116]:
# Contains relies on re.search, and matches any part of the string
# contain依赖于re模块的search方法，如果满足特定形式就可以，返回找到（True）
pattern = r'[a-z][0-9]'
s = pd.Series(['1', 'a2', '3b4', 'c5d6'])
print(s)
print(s.str.contains(pattern))

0       1
1      a2
2     3b4
3    c5d6
dtype: object
0    False
1     True
2     True
3     True
dtype: bool

In [117]:
# Match relies on re.match, and matches only the beginning of the string
# macth依赖于re模块的match方法，必须从开首字母就满足正则匹配的要求，否则返回False
pattern = r'[a-z][0-9]'
s = pd.Series(['1', 'a2', '3b4', 'c5d6'])
print(s)
print(s.str.match(pattern))

0       1
1      a2
2     3b4
3    c5d6
dtype: object
0    False
1     True
2    False
3     True
dtype: bool

In [118]:
# Finding all occurrences of pattern

# 类似于re模块的findall，会将所有满足匹配要求的行返回
pattern = r'[a-z][0-9]'
s = pd.Series(['1', 'a2', '3b4', 'c5d6'])
print(s)
print(s.str.findall(pattern))

0       1
1      a2
2     3b4
3    c5d6
dtype: object
0          []
1        [a2]
2        [b4]
3    [c5, d6]
dtype: object

#### 7.2.3 Extracting Matched Pattern

In [119]:
# Extract groups from the first matched patterns

# ?P<>为正则匹配中的分组命名，这里将第一组匹配结果命名为col_0, 第二组命名col_1
pattern='(?P<col_0>[a-z])(?P<col_1>[0-9])'
s = pd.Series(['1', 'a2', '3b4', 'c5d6', '1a1'])
print(s)
print(s.str.extract(pattern, expand=True))

0       1
1      a2
2     3b4
3    c5d6
4     1a1
dtype: object
  col_0 col_1
0   NaN   NaN
1     a     2
2     b     4
3     c     5
4     a     1

In [120]:
# Extract groups from all matched patterns

# 匹配并返回所有符合要求的结果，而不是仅仅一次
pattern='(?P<col_0>[a-z])(?P<col_1>[0-9])'
s = pd.Series(['1', 'a2', '3b4', 'c5d6'])
print(s)
print(s.str.extractall(pattern))

0       1
1      a2
2     3b4
3    c5d6
dtype: object
        col_0 col_1
  match
1 0         a     2
2 0         b     4
3 0         c     5
  1         d     6

## 8. Group Operations

The "group by" process:
1. Splitting the data into groups
2. Applying a function to each group
    2. Aggreation
    3. Transformation
    4. Filtration
3. Combining the results

### 8.1 Splitting the Data into Groups

Grouping needs a mapping of labels to group names:
For DataFrame, a string indicating a column name to be grouped by.
A list of the same length as the selected axis.
A dict providing a mapping from labels to group names.
A function to be called on each of the axis lables.

In [121]:
# Splitting by DataFrame column name(s)

# 分组完以后得到的是两个分组
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [1, 2, 1, 2]})
print(df)
grouped = df.groupby('key1')
for a, b in grouped:
    print(a)
    print(b)

   data1  data2 key1 key2
0      1      1  foo  one
1      2      2  bar  two
2      3      1  foo  one
3      4      2  bar  one
bar
   data1  data2 key1 key2
1      2      2  bar  two
3      4      2  bar  one
foo
   data1  data2 key1 key2
0      1      1  foo  one
2      3      1  foo  one

In [122]:
# Splitting by DataFrame column name(s)

# 同时以多列进行筛选
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
grouped = df.groupby(['key1', 'key2'])
for (key1, key2), group in grouped:
    print(key1, key2)
    print(group)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
('bar', 'one')
   data1  data2 key1 key2
3      4     40  bar  one
('bar', 'two')
   data1  data2 key1 key2
1      2     20  bar  two
('foo', 'one')
   data1  data2 key1 key2
0      1     10  foo  one
2      3     30  foo  one

In [123]:
# Splitting by a list of the same length as the selected axis.
# 按照行对数组进行分组，拥有相同命名的被自动分配到一起
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'ba'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
alist = ['group1', 'group2', 'group1', 'group2']
grouped = df.groupby(alist)
for key, group in grouped:
    print(key)
    print(group)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40   ba  one
group1
   data1  data2 key1 key2
0      1     10  foo  one
2      3     30  foo  one
group2
   data1  data2 key1 key2
1      2     20  bar  two
3      4     40   ba  one

In [124]:
# Splitting by a dict providing a mapping from labels to group names.
# 按键值对进行分组，这里的键可以理解为index值，而值可以理解为对于不同组的命名，拥有相同命名的会自动被分到一起
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
adict = {0: 'group2', 1: 'group2', 2: 'group1', 3: 'group2'}
grouped = df.groupby(adict)
for key, group in grouped:
    print(key)
    print(group)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
group1
   data1  data2 key1 key2
2      3     30  foo  one
group2
   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
3      4     40  bar  one

In [125]:
# Splitting by a function to be called on each of the axis lables.
# Return values will be used as group names

# np.remainder是返回两个数相除以后的余数
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
afunc = lambda x: np.mod(x, 3)
grouped = df.groupby(afunc)
for key, group in grouped:
    print(key)
    print(group)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
0
   data1  data2 key1 key2
0      1     10  foo  one
3      4     40  bar  one
1
   data1  data2 key1 key2
1      2     20  bar  two
2
   data1  data2 key1 key2
2      3     30  foo  one

关于更多的numpy数学运算，参见如下连接

http://www.mamicode.com/info-detail-1794242.html

In [126]:
# Selecting a group
# 取出特定的组只需要使用get_group以及写出组名即可
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
grouped = df.groupby(['key1', 'key2'])
for (key1, key2), group in grouped:
    print(key1, key2)
    print(group)
print(grouped.get_group(('bar', 'one')))

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
('bar', 'one')
   data1  data2 key1 key2
3      4     40  bar  one
('bar', 'two')
   data1  data2 key1 key2
1      2     20  bar  two
('foo', 'one')
   data1  data2 key1 key2
0      1     10  foo  one
2      3     30  foo  one
   data1  data2 key1 key2
3      4     40  bar  one

### 8.2 Applying a Function to Each Group

#### 8.2.1 Aggregation

Aggregation computes a summary statistic about each group.
Aggregation reduces the dimension.

In [127]:
# Aggregation via GroupBy object method
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1').mean())

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
      data1  data2
key1
bar       3     30
foo       2     20

In [128]:
# Aggregation via GroupBy object method
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'foo'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1').size())

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  foo  one
key1
bar    1
foo    3
dtype: int64

In [129]:
# Aggregation via GroupBy object method
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1').describe().T)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
key1               bar        foo
data1 count   2.000000   2.000000
      mean    3.000000   2.000000
      std     1.414214   1.414214
      min     2.000000   1.000000
      25%     2.500000   1.500000
      50%     3.000000   2.000000
      75%     3.500000   2.500000
      max     4.000000   3.000000
data2 count   2.000000   2.000000
      mean   30.000000  20.000000
      std    14.142136  14.142136
      min    20.000000  10.000000
      25%    25.000000  15.000000
      50%    30.000000  20.000000
      75%    35.000000  25.000000
      max    40.000000  30.000000

In [130]:
# Aggregation via the aggregate method
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1').agg(np.mean)) 
# 如果不指定level的话是按照列来组，指定level是按照行来组合排序
# Group names will be the new index

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
      data1  data2
key1
bar       3     30
foo       2     20

In [131]:
# Aggregation via the aggregate method
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': [1, 2, 3, 4],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1').agg(np.mean))
# Group names will NOT be the new index

   data1  data2 key1  key2
0      1     10  foo     1
1      2     20  bar     2
2      3     30  foo     3
3      4     40  bar     4
      data1  data2  key2
key1
bar       3     30     3
foo       2     20     2

In [132]:
# Aggregation via the aggregate method
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1', as_index=False).agg(np.mean)) 
# Group names will NOT be the new index

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
  key1  data1  data2
0  bar      3     30
1  foo      2     20

#### 8.2.2 Transformation

In [133]:
# 用分组以后的值，替换原有的值
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'foo'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1').transform(np.max))

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  foo  one
   data1  data2 key2
0      4     40  one
1      2     20  two
2      4     40  one
3      4     40  one

#### 8.2.3 Filtration

Filtration discard some groups according to a group-wise computation that returns True or False.
Filtration returns a subset of the original object.

In [134]:
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
print(df.groupby('key1').filter(lambda x: x['data1'].mean() > 2))

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
   data1  data2 key1 key2
1      2     20  bar  two
3      4     40  bar  one

### 8.3 Pivot Tables and Cross Tabulations

#### 8.3.1 Pivot Tables

pivot_table pivots with aggregation of numeric data.

In [135]:
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
df_pivoted = df.pivot_table(values='data1', 
                            index='key1', 
                            columns='key2', 
                            aggfunc=np.mean)
print(df_pivoted)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
key2  one  two
key1
bar   4.0  2.0
foo   2.0  NaN

In [136]:
# Add margins
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
df_pivoted = df.pivot_table(values=['data1', 'data2'],
                            index='key1', 
                            columns='key2', 
                            aggfunc=np.mean, 
                            margins=True)
print(df_pivoted)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
         data1                data2
key2       one  two  All        one   two   All
key1
bar   4.000000  2.0  3.0  40.000000  20.0  30.0
foo   2.000000  NaN  2.0  20.000000   NaN  20.0
All   2.666667  2.0  2.5  26.666667  20.0  25.0

In [137]:
# Add margins
df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
df_pivoted = df.pivot_table(values='data1', 
                            index='key1', 
                            columns='key2', 
                            aggfunc=np.mean, 
                            margins=False)
print(df_pivoted)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
key2  one  two
key1
bar   4.0  2.0
foo   2.0  NaN

#### 8.3.2 Cross Tabulations

crosstab computes a cross-tabulation of two factors.

In [138]:
# 交叉表查询，类似于数据库应用的如下语句
# (select 表1.成员姓名 from 表2 b where 表1.成员1id=表2.成员id) as 成员1id,

df = pd.DataFrame({'key1': ['foo', 'bar', 'foo', 'bar'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
df2 = pd.DataFrame({'keyl': ['1', '2', '3', '4'],
                   'key2': ['one', 'two', 'one', 'one'],
                   'data1': [1, 2, 3, 4],
                   'data2': [10, 20, 30, 40]})
print(df)
df_crosstab = pd.crosstab(index=df['key1'], columns=df2['keyl'])
print(df_crosstab)

   data1  data2 key1 key2
0      1     10  foo  one
1      2     20  bar  two
2      3     30  foo  one
3      4     40  bar  one
keyl  1  2  3  4
key1
bar   0  1  0  1
foo   1  0  1  0